<html> 
  <head>
    <title> PD- Photo Drop</title>
  </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/assets/icon.jpg" width="60" height="40" alt="first slide" />
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item">
          <a class="nav-link" href="pages.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="popular.html">Most Popular</a>
        </li>
       <li class="nav-item active">
        <a class="nav-link" href="recent.html">Most Recent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
   
      </ul>
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color:#ff6666; border-color:#ff6666; color: white">Search</button>
      </form>
   </div>
  </nav>







  </body>
</html>