
/* Home Page
Main heading */
 h1{
    font-size:75px;
    font-family: 'Rock Salt', cursive; 
 }

/* 'Welcome tag' */
 .lead{
    color:#ff6666
 }

 /* Both upload and search button */
 .btn {
    background-color:#ff6666;
    border-color:#ff6666;
    color: white;
   
 }

 .btn:hover {
     color:#ff6666;
     background-color: white;
 }

 .btn:active{
     background-color: white;
     border: none
 }


  /* Form Heading */
  h5{
    font-size:75px;
    font-family: 'Rock Salt', cursive; 
    color:#ff6666;
 }

 select {
    border: 1;
    border-color: lightgray;
    color: black;
    background: transparent;
   
  }

  .navbar {
      background-color: white;
      font-color: white;
      color:black
  }

  .container{
      margin-top:50px;
     
  }

  h2 {
    font-size:75px;
    font-family: 'Rock Salt', cursive; 
    text-align: center;
    color:#ff6666; 
    margin-bottom: 75px
    
  }

  .card-footer {
    background-color: white;
    border-color:none;
    margin-top: 160px
  }
